	<nav role="navigation" aria-label="Main">
			<div id="navTop">
				<a href="{{ siteUrl }}">
					<h1><span class="siteTitle">{{ siteName }}</span></h1>
				</a>
			</div>
			<div id="navBottom">
				<ul>
					<li><a href="../profile">Profile</a></li>
					<li><a href="https://www.linkedin.com/in/audreystanton">LinkedIn</a></li>
					<li class="emailLink"><a onclick="copyToClipboard('agfstanton@gmail.com')">Email</a></li>
				</ul>
			</div>
		</nav>